* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'segoe ui';
}

.container {
    height: 15em;
    width: 100%;
    background-color: #C72828;
    position: relative;
}

.container>.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container>.nav-header>.information {
    display: flex;
    justify-content: space-between;
    width: 58em;
    margin-top: 2em;
    align-items: center;
}

.nav-button {
    display: flex;
    height: 3em;
    width: 12em;
    cursor: pointer;
}

.content-button {
    background-color: #39B100;
    width: 71%;
    border-bottom-left-radius: .5em;
    border-top-left-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}


.plus-icon {
    background-color: #41C900;
    padding: 1em;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.main-container {
    max-width: 59em;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.product-item {
    width: 17.5em;
    height: 23em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.product-image {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image .container {
    display: flex;
    height: 100%;
    background-color: #FFB85C;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.product-image .image {
    width: 100%;
    object-fit: contain;
}

.product-description {
    background-color: #F0F0F5;
    height: 45%;
}

.product-description .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.5em;
}

.product-description .info-container .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #3D3D4D;
}

.product-description .info-container .description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3D3D4D;
    margin-bottom: .5em;
    margin-top: .5em;
}

.product-description .info-container .price .currency,
.value {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #39B100;
}

.product-description .info-container .price .value {
    font-weight: bold;
}

.product-actions {
    background-color: #E4E4EB;
    height: 17%;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.product-actions .items {
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
    height: 100%;
    justify-content: space-evenly;
}

.product-actions .items .icons {
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    border-radius: .5em;
}


/* REMOVER CODIGO PARA ÃREA ISOLADA */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width:600px) {
    .container>.nav-header>.information {
        flex-direction: column;
    }

    .main-container {
        justify-content: center;
        align-items: center;
    }
}