* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'segoe ui';
  }
  
  .container {
    height: 20em;
    width: 100%;
    background-color: #C72828;
    position: relative;
  }
  
  .container > .nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container > .nav-header > .information {
    display: flex;
    justify-content: space-between;
    width: 52em;
    margin-top: 2em;
    align-items: center;
  }

  .nav-button {
      display: flex;
      height: 3em;
      width: 10em;
      cursor: pointer;
  }

  .content-button {
    background-color: #39B100;
    width: 71%;
    border-bottom-left-radius: .5em;
    border-top-left-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: monospace;
  }
  
  
  .plus-icon {
      background-color: #41C900;
      padding: 1em;
      border-top-right-radius: .5em;
      border-bottom-right-radius: .5em;
      color: white;
    }
    
    .content-button:hover, .plus-icon:hover {
      background-color: #99F76C;
    }
    
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
  }

  .main-container {
    border: 1px solid black;
    width: 52em;
    border-radius: .5em;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .product-item {
    width: 15em;
    height: 23em;
    margin: 1em;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
  }

   .product-image {
        background-color: #FFB85C;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-image .container {
        display: flex;
        height: 100%;
        background-color: #FFB85C;
    }
    
    .product-image .image {
        width: 100%;
        object-fit: contain;
    }

    .product-description {
        background-color: #F0F0F5;
        height: 45%;
    }
    
    .product-description .info {
        display: flex;
        flex-direction: column;
    }

    .product-actions {
        background-color: #E4E4EB;
        height: 15%;
    }
    
    .product-actions .items {
        display: flex;
    }

    .product-actions .items .icons {
        font-size:24px;
    }


  @media (max-width:600px) {
  }