* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 15em;
    width: 100%;
    background-color: #C72828;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
  }

  .main-container {
    border: 1px solid black;
    width: 52em;
    border-radius: .5em;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .product-item {
    width: 15em;
    height: 23em;
    margin: 1em;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    border-radius: .5em;
  }

   .product-image {
        background-color: #FFB85C;
        height: 40%;
    }
    .product-description {
        background-color: #F0F0F5;
        height: 45%;
    }
    .product-actions {
        background-color: #E4E4EB;
        height: 15%;
    }

  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }